body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input {
  padding: 1rem 3rem;
}

label {
  margin: 0 20px;
}

label[for='loginEmail'] {
  margin-right: 48px;
}

a, button {
  border-radius: 20px;
  padding: .5rem 1rem;
  border: none;
}

.alertBtn {
  font-size: 16px;
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alertCheck {
  margin-left: 5px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.notifySyncContainer {
  width: 40%;
  height: 100%;
  background: #e5ebf0;
  padding: 2em;
  border-radius: 50px;
  margin: 4em auto;
}

